@using TheAgency.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log In";
}

<h1 class="heading">
    @ViewBag.Title
</h1>
<hr/>
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h1>Use a local account to log in</h1>
                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                @Html.TextBoxFor(m => m.Name, new { @type = "text", @placeholder = "Your Name" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                @Html.TextBoxFor(m => m.Email, new { @type = "email", @placeholder = "Email Address" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                @Html.PasswordFor(m => m.Password, new { @type = "password", @placeholder = "Password" })
                @Html.LabelFor(m => m.RememberMe, new { @class = "rememberMe" })
                @Html.CheckBoxFor(m => m.RememberMe)
                <input type="submit" value="Log in" />
                <hr/>
                <p>
                    @Html.ActionLink("Register as a new user", "Register")
                </p>
                <p>
                    @Html.ActionLink("Forgot your password?", "ForgotPassword")
                </p>
            }
        </section>
    </div>
    <div class="col-md-4">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}